{% extends "jobs/base.html" %} 
{% load static %}
{% block nav_home%}active{% endblock %}
{% block content %}

<section class="home-hero container-fluid bglight p-5">
  <div class="home-hero-title-cont row justify-content-start">
    <div class="home-hero-title col-6 mx-auto">
      <h2>Helping you find the best talent</h2>
      <a class="btn btn-primary mt-2" href="{% url 'jobs-services' %}" role="button">Learn more</a>
    </div>
  </div>
</section>

<section class="home-services container-fluid mx-auto py-3">
  <div class="mx-5 my-5">
  <h2 class="text-center pb-3">Partner with Axiom</h2>
  <div class="">
    <p>Axiom Consultants is a recruitment company that specialises in connecting job seekers with employers in various industries. We act as a bridge between talented individuals looking for opportunities and companies in need of skilled professionals. We work with clients across Ireland and the UK. Our main areas of expertise are Financial Services, Accountancy, IT, Medical Services. <br><br>
    
      As a recruitment company, Axiom Consultants generally undertakes the following activities: 
    </p>
    <ul>
      <li>Talent search and acquisition: Screening and shortlisting</li>
      <li>Reference and background checks</li>
      <li>Coordinating interviews</li>
      <li>Negotiating offers and contract signing</li>
    </ul>
  </div>
  </div>

  <div class="row gx-1 gy-5">
    <div class="col-12 col-md-4">
      <div class="card px-0">
        <img
          src="{% static 'media/axiom_recruitment.webp' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Recruitment</h5>
          <p class="card-text">
            Are you looking for a new job? We specialise in the financial service sector. To find our more please visit our jobs page.
          </p>
        </div>

        <div class="card-footer mx-auto">
          <a href="{% url 'jobs-services' %}#recruitment" class="card-link btn btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card px-0">
        <img
          src="{% static 'media/axiom_grow.webp' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Growing your business</h5>
          <p class="card-text">
            Looking to hire the best talent? We can help you fill your current vacancies by finding the right candidates for you.
          </p>
        </div>

        <div class="card-footer mx-auto">
          <a href="{% url 'jobs-services' %}#grow" class="card-link btn btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card px-0">
        <img
          src="{% static 'media/axiom_ma.webp' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Acquisitions And Mergers</h5>
          <p class="card-text">
            Planning on selling your business? Or maybe you are looking to expand? We can help by putting you in touch with the right people. 
          </p>
        </div>

        <div class="card-footer mx-auto">
          <a href="{% url 'jobs-services' %}#mergers" class="card-link btn btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card px-0">
        <img
          src="{% static 'media/axiom_consultant.webp' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Become and Axiom Consultant</h5>
          <!-- <p class="card-text">
            If you would like to manage your own work diary, work fully remotely and dictate what you earn, then becoming an Axiom Consultant might be for you. We work closely with our clients to forge lasting relationships. They trust us to deliver to them the best talent in the market. If you have experience in Financial Services or have worked in a recruitment sector that you would like to develop under the Axiom brand, then we would like to hear from you.
          </p> -->
        </div>

        <div class="card-footer mx-auto">
          <a href="{% url 'jobs-services' %}#consultant" class="card-link btn btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card px-0">
        <img
          src="{% static 'media/axiom_client.webp' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Become an Axiom Client</h5>
          <!-- <p class="card-text">
            Axiom Consultants has spent the last 5 years building a highly credible and recognised level of service that is unrivalled. Working closely with our clients, understanding the culture of your organisation and then presenting only relevant candidates to you is what we do best.
          </p> -->
        </div>

        <div class="card-footer mx-auto">
          <a href="{% url 'jobs-services' %}#client" class="card-link btn btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card px-0">
        <img
          src="{% static 'media/axiom_expertise.webp' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Our focus sectors</h5>
          <!-- <ul class="card-text">
            <li>Wealth Management</li>
            <li>Financial Planning</li>
            <li>Mergers & Acquisitions</li>
            <li>Accountancy</li>
            <li>AML & Compliance</li>
            <li>Administration</li>
            <li>Medical Services</li>
            <li>IT</li>
          </ul> -->

        </div>

        <div class="card-footer mx-auto">
          <a href="{% url 'jobs-services' %}#sectors" class="card-link btn btn-outline-primary">Learn More</a>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock content %}
