{% extends "jobs/base.html" %} {% block content %}



<div class="media content-section">
  
  <div class="media-body">
    <div class="article-metadata row">
      <small class="text-muted col">Location: {{ object.location }}</small>
      <small class="text-muted col text-end">Posted: {{ object.date_posted|date:"F d, Y" }}</small>
    </div>
    <h2 class="article-title">{{ object.job_title }}</h2>
    <p class="article-content">{{ object.description }}</p>
  </div>
</div>


 
{% endblock content %}