{% extends "jobs/base.html" %} 
{% block content %}

<div class="container media content-section mb-5">
  <div class="media-body">
    <div class="job-metadata row">
      <small class="text-muted col">Location: {{ object.location }}</small>
      <small class="text-muted col text-end">
        Posted: {{ object.date_posted|date:"F d, Y" }}
      </small>
    </div>
    <div>
      <h2 class="my-3">{{ object.job_title }}</h2>
      <h4>Job Description</h4>
      <div class="job-content">
        {{ object.description | safe }}
      </div>
      <h4>Experience</h4>
      <div class="job-content">
        {{ object.skills | safe }}
      </div>
    </div>
    <div class="text-muted job-metadata row py-1">
      <small class="col">Salary: {{ object.salary }}</small>
      <small class="col text-end">
        Job Type: <strong class="jobtype">{{ object.job_type }}</strong>
      </small>
    </div>
  </div>
 
  {% if object.creator == user or user.is_staff %}

  <div class="container">
    <a
      class="btn btn-success btn-sm mt-1 mb-1"
      href="{% url 'job-update' object.id %}"
      >Update</a
    >
    <a
      class="btn btn-danger btn-sm mt-1 mb-1"
      href="{% url 'job-delete' object.id %}"
      >Delete</a
    >
  </div>
  {% endif %}
</div>

{% endblock content %}
