{% extends "jobs/base.html" %} {% block content %}
<main class="container">
  <div class="hero container-fluid bglight p-5">
    <h1 class="">Our Current Job Openings</h1>
    <hr class="my-4">
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consectetur nam voluptatem. Nostrum nisi in nemo incidunt tempore iure facilis delectus consequatur? Omnis libero voluptate minus veritatis doloremque earum ducimus.</p>
    
  </div>
{% for job in jobs %}

<div class="media content-section">
  <div class="media-body">
    <div class="article-metadata row">
      <small class="text-muted col">Location: {{ job.location }}</small>
      <small class="text-muted col text-end">Posted: {{ job.date_posted|date:"F d, Y" }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'job-detail' job.id %}">{{ job.job_title }}</a></h2>
    <p class="article-content">{{ job.description }}</p>
  </div>
</div>

{% endfor %}
 
{% endblock content %}
