{% extends "jobs/base.html" %}
{% load static %}
<!-- Inserts active class back into base.html navbar -->
{% block nav_services%}active{% endblock %} 
{% block content %}

<!-- Service Hero -->
<section class="home-hero container-fluid bglight p-5 mb-3">
  <div class="home-hero-title-cont row justify-content-center">
    <div class="home-hero-title col-6">
      <h2 class="text-center">Our Services</h2>
    </div>
  </div>
</section>

<!-- Detailed Services Section Cards -->
<section class="services py-5">
  <div class="container-lg row gx-3 gy-5 mx-auto">
    <div class="col-lg-6">
      <div class="card px-0">
        <div class="card-body" id="recruitment">
          <h3 class="card-title text-center">Recruitment</h3>
          <h5 class="card-text text-center">20 Years of experience</h5>
          <p class="card-text text-center">
            Axiom Consultants is a recruitment company that specialises in
            connecting job seekers with employers in various industries. We act
            as a bridge between talented individuals looking for opportunities
            and companies in need of skilled professionals. We work with clients
            across Ireland and the UK. Our main areas of expertise are Financial
            Services, Accountancy, IT, Medical Services
          </p>
          <ul class="my-3 col-9 mx-auto">
            <li class="list-group-item text-center">
              Talent Acquisition and Management
            </li>
            <li class="list-group-item text-center">Job advertising</li>
            <li class="list-group-item text-center">Candidate sourcing</li>
            <li class="list-group-item text-center">
              Pre-screening and shortlisting
            </li>
            <li class="list-group-item text-center">Interview coordination</li>
            <li class="list-group-item text-center">
              Background checks and reference verification
            </li>
            <li class="list-group-item text-center">
              Offer negotiation and onboarding
            </li>
            <li class="list-group-item text-center">
              Market insights and trends
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card px-0">
        <div class="card-body" id="grow">
          <h3 class="card-title text-center">Grow your business</h3>
          <p class="card-text text-center">
            At Axiom Consultants we understand the difficulties associated with
            growing your business. We can offer the solutions you need to move
            your business onto the next level. With our business lean approach,
            we can offer flexibility with recruiting costs and budgeting.
          </p>
          <ul class="my-3 col-9 mx-auto">
            <li class="list-group-item text-center">
              Recruitment of top talent
            </li>
            <li class="list-group-item text-center">
              Streamlining hiring processes
            </li>
            <li class="list-group-item text-center">
              Access to a wider candidate pool
            </li>
            <li class="list-group-item text-center">
              Market expertise and insights
            </li>
            <li class="list-group-item text-center">
              Enhanced employer branding
            </li>
            <li class="list-group-item text-center">Retention strategies</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card px-0">
        <div class="card-body" id="mergers">
          <h3 class="card-title text-center">Mergers & Acquisitions</h3>
          <p class="card-text text-center">
            WAxiom Consultants has over twenty years’ experience in the
            Financial Services sector. As such, we have deep and trusted
            contacts throughout our chosen sectors of expertise. If you are
            looking to sell or acquire a new business, contact us today to find
            out how we can help.
          </p>
          <ul class="my-3 col-9 mx-auto">
            <li class="list-group-item text-center">Strategic Planning</li>
            <li class="list-group-item text-center">
              Target Identification and Due Diligence
            </li>
            <li class="list-group-item text-center">
              Valuation and Negotiations
            </li>
            <li class="list-group-item text-center">
              Deal Structuring and Financing
            </li>
            <li class="list-group-item text-center">
              Change Management and Communication
            </li>
            <li class="list-group-item text-center">
              Post-Merger Performance Management
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card px-0">
        <div class="card-body" id="consultant">
          <h3 class="card-title text-center">Become an Axiom Consultant</h3>
          <p class="card-text text-center">
            Always interested in being lean and business streamlined, Axiom
            Consultants is on the lookout for talented individuals to become
            part of the success story. If you would like to work remotely, chose
            hours that work for you, and be in full control of what you earn,
            then we may be the place for you.
          </p>
          <ul class="my-3 col-9 mx-auto">
            <li class="list-group-item text-center">
              Access to hidden job opportunities
            </li>
            <li class="list-group-item text-center">Expertise and guidance</li>
            <li class="list-group-item text-center">
              Career advancement opportunities
            </li>
            <li class="list-group-item text-center">
              Access to network and connections
            </li>
            <li class="list-group-item text-center">Remote working</li>
            <li class="list-group-item text-center">
              Trusted to grow your own business
            </li>
            <li class="list-group-item text-center">
              Unlimited earnings potential
            </li>
            <li class="list-group-item text-center">Equity share</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card px-0">
        <div class="card-body" id="client">
          <h3 class="card-title text-center">Become an Axiom Client</h3>
          <p class="card-text text-center">
            Axiom Consultants prides itself on its reputation to be able to
            deliver every time on chosen assignments. We work very closely to
            understand your values, culture and future plans so that we can
            select the very best candidates in the market.
          </p>
          <ul class="my-3 col-9 mx-auto">
            <li class="list-group-item text-center">
              Access to a wider talent pool
            </li>
            <li class="list-group-item text-center">Timesaving</li>
            <li class="list-group-item text-center">
              Expertise in candidate assessment
            </li>
            <li class="list-group-item text-center">Industry knowledge</li>
            <li class="list-group-item text-center">Increased efficiency</li>
            <li class="list-group-item text-center">Employer branding</li>
            <li class="list-group-item text-center">Budget Management</li>
            <li class="list-group-item text-center">Negotiation assistance</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card px-0">
        <div class="card-body" id="sectors">
          <h3 class="card-title text-center">Areas of Expertise</h3>
          <p class="card-text text-center">
            At Axiom Consultants, we partner with clients across various
            sectors. Our knowledge within these sectors is unparalleled. All of
            our consultants have a deep knowledge or direct working experience
            of the sector they represent. We have worked hard to establish an
            excellent and trusted reputation across all sectors we specialise
            in.
          </p>
          <ul class="my-3 col-9 mx-auto">
            <li class="list-group-item text-center">Wealth Management</li>
            <li class="list-group-item text-center">General Insurance</li>
            <li class="list-group-item text-center">Life & Pensions</li>
            <li class="list-group-item text-center">Mergers & Acquisitions</li>
            <li class="list-group-item text-center">Accountancy</li>
            <li class="list-group-item text-center">Compliance</li>
            <li class="list-group-item text-center">Medical Services</li>
            <li class="list-group-item text-center">Information Technology</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
